{% extends 'base.html' %}
{% load static %}

{% block custom_script %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javaScript">
        function eventKeyup(str){
            let str2 = str.slice(3, 10)
            $("#id_student_id").val(str2);    // jQuery 이용
        }
        $(function(){
            $("input[name=cur_focus]").click(function(){
                alert('학생증 QR코드를 스캔해주세요.')
                $("input[name=beforeAmt]").focus();
            });
        });

        function id_overlap_check() {
            if ($('#id_student_id').val() == '') {
                alert('학생 번호를 입력해주세요.');
                return false;
            }

            id_overlap_input = document.querySelector('input[name="student_id"]');
            console.log(id_overlap_input)
            $.ajax({
                url: "{% url 'students:student_overlap_check' %}",
                data: {
                    'student_id': id_overlap_input.value
                },
                datatype:'json',
                success: function (data) {
                    console.log(data['overlap']);
                    if (data['overlap'] == 'fail') {
                        alert("이미 등록되어 있는 학생입니다.");
                        id_overlap_input.focus();
                        cancelFormSubmission();
                        return false;
                        document.querySelector('.submit_btn').setAttribute('disabled', true);
                        
                    } else {
                        alert('학생 등록이 완료되었습니다.');
                        document.querySelector('.submit_btn').removeAttribute('disabled');
                        return;
                    }
                }
            })
        }
    </script>
{% endblock custom_script %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'students/student_register.css' %}">
{% endblock custom_css %}

{%block content%}

<div class="container">
    <div class="row">
        <div class="subtitle" style="margin-top: 50px; text-align: center;">
            <h1 style='font-weight:bold; '>학생 등록</h1>
        </div>
    </div>
    <div class="row">
        <div class="rentform ">
            <form id="rent_form" action="" method="post" onkeydown="return event.key != 'Enter';" enctype="multipart/form-data">
                                                        <!-- 바코드 스캔 시 자동으로 제출되는 것 방지-->
                {% csrf_token %}
                <input style='opacity:0' name="beforeAmt" id="beforeAmt" value="" onkeyup="eventKeyup(this.value)"/>
                <table class="info_table">
                    <tr>
                        <td>학번 : </td>
                        <td>{{student_form.student_id}}</td>
                        <td id='scan_td'><input type='button' name='cur_focus' value='학생증 스캔' class='scan_btn'></td>
                    </tr>
                    <tr>
                        <td>이름 : </td>
                        <td>{{student_form.name}}</td>
                    </tr>
                    <tr>
                        <td>핸드폰 번호 : </td>
                        <td>{{student_form.phone_number}}</td>
                    </tr>
                    <tr>
                        <td>이메일 : </td>
                        <td>{{student_form.email}}</td>
                    </tr>
                    <tr>
                        <td>학적 상태 : </td>
                        <td>{{student_form.status}}</td>
                    </tr>
                </table>
                    <div class='submit_btn_div'><input type="submit" value="등록" class='submit_btn' onclick='id_overlap_check()'></div>
            </form>
        </div>
    </div>
</div>

{%endblock%}