{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'equipments/equip_list.css' %}">
{% endblock custom_css %}
{% block content %}
    <div class="subtitle" style="margin-top: 50px; text-align: center;">
        <h1 style='font-weight:bold; '>기자재 목록</h1>
    </div>
    <div class="container">
        <table class='table table-striped'>
            <thead>
                <tr>
                    <td><b>물품 번호</b></td>
                    <td><b>물품 종류</b></td>
                    <td><b>대여 상태</b></td>
                    <td><b>대여자 학번</b></td>
                    <td><b>대여자 이름</b></td>
                    <td><b>대여일</b></td>
                </tr>
            </thead>
            <tbody>
            
            {% for equip in equipments reversed %}
                <tr>
                    <td><a href="{%url 'equipments:equipment_detail' pk=equip.pk %}">{{equip.equip_id}}</a></td>
                    {% comment %} <td>{{equip.pk}}</td>                     {% endcomment %}
                    <td>{{equip.get_equip_type_display}}</td>
                    {% if equip.rent_status == False %}
                    <td id='rent_possible'>대여 가능</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% else %}
                    <td id='rent_impossible'>대여중</td>
                    {%for rent in rents%}
                        {%if rent.equip.equip_id == equip.equip_id%}
                        <td>{{rent.student.student_id}}</td>
                        <td>{{rent.student.name}}</td>
                        <td>{{rent.rent_date}}</td>
                        {%endif%}
                    {%endfor%}
                    {% endif %}
                </tr>   
            {% endfor %} 
            </tbody>
        </table>
    </div>
{% endblock content %}
    