{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'equipments/equip_register.css' %}">
{% endblock custom_css %}
{% block custom_script %}
    <script>
        function id_overlap_check() {
            id_overlap_input = document.querySelector('input[id="id_equip_id"]');
            $.ajax({
                url: "{% url 'equipments:equip_remove_check' %}",
                data: {
                    'equip_id': id_overlap_input.value
                },
                datatype:'json',
                success: function (data) {
                    if (data['remove'] == 'fail') {
                        alert("대여중인 기자재이므로 삭제할 수 없습니다.");
                        id_overlap_input.focus();
                        cancelFormSubmission();
                        return false;
                        document.querySelector('.submit_btn').setAttribute('disabled', true);
                        
                    } else {
                        alert('기자재 정보 삭제가 완료되었습니다.');
                        document.querySelector('.submit_btn').removeAttribute('disabled');
                        return;
                    }
                }
            })
        }
    </script>
{% endblock custom_script %}

{%block content%}
<div class="container">
    <div class="subtitle" style="margin-top: 50px; text-align: center;">
        <h1 style='font-weight:bold; '>기자재 정보 삭제</h1>
    </div>
    <form method="POST" class="equip-form">
        {% csrf_token %}
        <table class="info_table">
            <tr>
                <td>물품 번호 : </td>
                <td>{{form.equip_id}}</td>
            </tr>
            <tr>
                <td>물품 종류 : </td>
                <td>{{form.equip_type}}</td>
            </tr>
            </table>
        <div class='submit_btn_div'><input type="submit" value="삭제" class='submit_btn' onclick='id_overlap_check()'></div>
    </form>
</div>
{%endblock content%}