{% load static %}

<div id="search_equip">
    <div id="search_equip_list">
        <div class="container">
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <td><b>물품 번호</b></td>
                        <td><b>물품 종류</b></td>
                        <td><b>대여 상태</b></td>
                        <td><b>대여자 학번</b></td>
                        <td><b>대여자 이름</b></td>
                        <td><b>대여일</b></td>
                        <td><b>수정</b></td>
                        <td><b>삭제</b></td>
                    </tr>
                </thead>
                <tbody>
                
                {% for equip in equipments %}
                    <tr>
                        <td>{{equip.equip_id}}</td>
                        <td>{{equip.get_equip_type_display}}</td>
                        {% if equip.rent_status == 'possible' %}
                            <td id='rent_possible'>대여 가능</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        {% elif equip.rent_status == 'impossible' %}
                            <td id='rent_impossible'>대여중</td>
                            {%for rent in rents%}
                                {%if rent.equip.equip_id == equip.equip_id%}
                                <td>{{rent.student.student_id}}</td>
                                <td>{{rent.student.name}}</td>
                                <td>{{rent.rent_date | date:'Y-m-d'}} &nbsp; &nbsp; {{rent.rent_date | date:'h:i A'}}</td>
                                {%endif%}
                            {%endfor%}
                        {% else %}
                            <td id='rent_pending'>반납 보류</td>
                            {%for rent in rents%}
                                {%if rent.equip.equip_id == equip.equip_id%}
                                <td>{{rent.student.student_id}}</td>
                                <td>{{rent.student.name}}</td>
                                <td>{{rent.rent_date | date:'Y-m-d'}} &nbsp; &nbsp; {{rent.rent_date | date:'h:i A'}}</td>
                                {%endif%}
                            {%endfor%}
                        {% endif %}
                        <td><a href="{% url 'equipments:equipment_detail' pk=equip.pk %}"><img src ="/static/edit.png"></a></td>
                        <td><a href="{% url 'equipments:equipment_remove' pk=equip.pk %}"><img src ="/static/rubbish.png"></a></td>
                    </tr>   
                {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
    <div class="container" id='paginator'>
        <div class="flex-item">
            {% if equipments.has_previous %}
                <img src="{% static 'prever.png' %}" name='paginator' id='1' style="cursor: pointer">
                <img src="{% static 'prev.png' %}" name='paginator' id='{{equipments.previous_page_number}}' style="cursor: pointer">
            {% else %}
                <img src="{% static 'prever.png' %}" name='paginator' id='1' style="cursor: pointer">
                <img src="{% static 'prev.png' %}" name='paginator' id='1' style="cursor: pointer">
            {% endif %}
        </div>
        <div class="flex-item">
                <div style="font-size:3rem">{{equipments.number}}</div>
                <div style="font-size:3rem">/</div>
                <div style="font-size:3rem">{{equipments.paginator.num_pages}}</div>
        </div>
        <div class="flex-item">
            {% if equipments.has_next %}
                <img src="{% static 'next.png' %}" name='paginator' id='{{equipments.next_page_number}}' style="cursor: pointer">
                <img src="{% static 'nexter.png' %}" name='paginator' id='{{equipments.paginator.num_pages}}' style="cursor: pointer">
            {% else %}
                <img src="{% static 'next.png' %}" name='paginator' id='{{equipments.paginator.num_pages}}' style="cursor: pointer"> 
                <img src="{% static 'nexter.png' %}" name='paginator' id='{{equipments.paginator.num_pages}}' style="cursor: pointer">
            {% endif %}
        </div>
    </div>
</div>
<script>
    $(function(){
        $("button[name=paginator]").click(function(){
            var search_status = $('#search_status').val();
            event.preventDefault()
            $.ajax({
                url:'search_rent_status/?search_status='+ search_status + '&page=' + $(this).attr('id'),
                data:{
                    'search_status':search_status,
                },
                success:function(data){
                    $('#search_equip').html(data)
                }
            })
        });
    });
</script>