{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'equipments/equip_register.css' %}">
{% endblock custom_css %}

{%block content%}
<div class="container">
    <div class="subtitle" style="margin-top: 50px; text-align: center;">
        <h1 style='font-weight:bold; '>기자재 정보 수정</h1>
    </div>
    <form method="POST" class="equip-form">
        {% csrf_token %}
        <table class="info_table">
            <tr>
                <td>물품 번호 : </td>
                <td>{{form.equip_id}}</td>
            </tr>
            <tr>
                <td>물품 종류 : </td>
                <td>{{form.equip_type}}</td>
            </tr>
            </table>
        <div class='submit_btn_div'><input type="submit" value="수정" class='submit_btn' onclick='id_overlap_check()'></div>
    </form>
</div>
{%endblock content%}