<div id="search_equip_list">
    <div class="container">
        <table class='table table-striped'>
            <thead>
                <tr>
                    <td><b>물품 번호</b></td>
                    <td><b>물품 종류</b></td>
                    <td><b>대여 상태</b></td>
                    <td><b>대여자 학번</b></td>
                    <td><b>대여자 이름</b></td>
                    <td><b>대여일</b></td>
                    <td><b></b></td>
                    <td><b></b></td>
                </tr>
            </thead>
            <tbody>
            
            {% for equip in search_list reversed %}
                <tr>
                    <td>{{equip.equip_id}}</td>
                    <td>{{equip.get_equip_type_display}}</td>
                    {% if equip.rent_status == False %}
                    <td id='rent_possible'>대여 가능</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% else %}
                    <td id='rent_impossible'>대여중</td>
                    {%for rent in rents%}
                        {%if rent.equip.equip_id == equip.equip_id%}
                        <td>{{rent.student.student_id}}</td>
                        <td>{{rent.student.name}}</td>
                        <td>{{rent.rent_date}}</td>
                        {%endif%}
                    {%endfor%}
                    {% endif %}
                    <td><a href="{% url 'equipments:equipment_detail' pk=equip.pk %}"><img src ="/static/edit.png"></a></td>
                    <td><a href="{% url 'equipments:equipment_remove' pk=equip.pk %}"><img src ="/static/rubbish.png"></a></td>
                </tr>   
            {% endfor %} 
            </tbody>
        </table>
    </div>
</div>