{% load static %}
<html>
    <head>
        <title>IT공학과 기자재 관리</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
	    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        {% block custom_script %}
        {% endblock %}
        {% block custom_css %}
        {% endblock %}
    </head>
    <body>
        <div class="main">
            <div id="navbar">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{% url 'managements:main_page' %}">숙명여대 IT공학과 기자재 관리 페이지</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                {% if user.is_authenticated %}
                                <a href="{% url 'users:staff_logout' %}" class="dropdown-toggle" aria-expanded="false">로그아웃</span></a>
                                {%else%}
                                <a href="{% url 'users:staff_login' %}" class="dropdown-toggle" aria-expanded="false">관리자 로그인</a>
                                {%endif%}
                                </li>
                            </ul>
                            {% if user.is_authenticated %}
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                <a href="{% url 'graphs:graph_main' %}" class="dropdown-toggle" aria-expanded="false">통계</span></a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="nav-item dropdown">
                                    <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  학생  </a>
                                    <ul class="dropdown-menu fade-up">
                                    <li><a class="dropdown-item" href="{% url 'students:student_register' %}"> 학생 등록</a></li>
                                    <li><a class="dropdown-item" href="{% url 'students:student_list' %}"> 학생 목록 </a></li>
                                    <li><a class="dropdown-item" href="{% url 'students:student_excel_register' %}">파일 업로드</a></li>
                                    </ul>
                                </li>
                            </ul>     
                            <ul class="nav navbar-nav navbar-right">
                                <li class="nav-item dropdown">
                                    <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  기자재  </a>
                                    <ul class="dropdown-menu fade-up">
                                    <li><a class="dropdown-item" href="{% url 'equipments:equipment_register' %}"> 기자재 등록</a></li>
                                    <li><a class="dropdown-item" href="{% url 'equipments:equipment_list' %}"> 기자재 목록 </a></li>
                                    <li><a class="dropdown-item" href="{% url 'equipments:equip_excel_register' %}">파일 업로드</a></li>
                                    </ul>
                                </li>
                            </ul>      
                            <ul class="nav navbar-nav navbar-right">
                                <li class="nav-item dropdown">
                                    <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  반납  </a>
                                    <ul class="dropdown-menu fade-up">
                                    <li><a class="dropdown-item" href="{% url 'managements:return_' %}"> 반납 </a></li>
                                    <li><a class="dropdown-item" href="{% url 'managements:return_list' %}"> 반납 목록</a></li>
                                    <li><a class="dropdown-item" href="{% url 'managements:pending_list' %}"> 보류 목록 </a></li>
                                    </ul>
                                </li>
                            </ul>         
                            <ul class="nav navbar-nav navbar-right">
                                <li class="nav-item dropdown">
                                    <a style="margin-right:15px;"class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  대여  </a>
                                    <ul class="dropdown-menu fade-up">
                                    <li><a class="dropdown-item" href="{% url 'managements:rent' %}"> 대여 </a></li>
                                    <li><a class="dropdown-item" href="{% url 'managements:rent_list' %}"> 대여 목록</a></li>
                                    </ul>
                                </li>
                            </ul>                                               
                            {%endif%}
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
            <div id="main_content"> 
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="footer_wrap">
            <div class="footer">
                <p>&copy; 2021 졸업 프로젝트 - 포어스(For Us)</p>
            </div>
        </div>
    </body>
</html>
