{% extends 'graphs/graph.html' %}
{% load static %}

{% block custom_script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var config = {
            type: 'pie',
            data: {
                datasets: [{
                data: {{ data|safe }},
                backgroundColor: [
                    '#84B1ED', '#E53A40', '#F17F42'
                ],
                label: 'Tablet'
                }],
                labels: {{ labels|safe }}
            },
            options: {
                responsive: true
            },
        };
        window.onload = function() {
        var ctx = document.getElementById('pie-chart').getContext('2d');
        window.myPie = new Chart(ctx, config);
        };
    </script>
{% endblock %}

{% block equip_type %}
    <div id="container" style="width: 100%;">
        <canvas id="pie-chart"></canvas>
    </div>
{% endblock equip_type %}