{% extends 'base.html' %}
{% load static %}

{% block custom_script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var config = {
            type: 'bar',
            data: {
                datasets: [
                    {data: {{ equip|safe }},
                    backgroundColor: ['#cccccc', '#cccccc', '#cccccc'],
                    label: '전체'},
                    {data: {{ rent|safe }},
                    backgroundColor: ['#E53A40', '#E53A40', '#E53A40'],
                    label: '대여중'}
                ],
                labels: {{ labels|safe }}
            },
            options: {
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            suggestedMin: 0,
                        }
                    }]
                }
            }
        };
        window.onload = function() {
        var ctx = document.getElementById('bar-chart').getContext('2d');
        window.myBar = new Chart(ctx, config)
        };
    </script>
{% endblock %}

{% block custom_css %}
{% endblock custom_css %}

{% block content %}
    <div class="subtitle" style="margin-top: 50px; text-align: center;">
        <h1 style='font-weight:bold; '>기자재 별 대여 현황</h1>
    </div>
    <div class="container">
        <button onclick="location.href='{% url 'graphs:graph_main' %}'" class='submit_btn'>전체 </button>
        <button onclick="location.href='{% url 'graphs:graph_laptop' %}'" class='submit_btn'>노트북</button>
        <button onclick="location.href='{% url 'graphs:graph_tablet' %}'" class='submit_btn'>태블릿</button>
        <button onclick="location.href='{% url 'graphs:graph_sensor' %}'" class='submit_btn'>센서</button>
    </div>
    <div class="container">
    {% block equip_type %}
    {% endblock equip_type %}
    </div>
    <div class="container" style="width: 60%; text-align:center">
        <canvas id="bar-chart"></canvas>
    </div>
{% endblock content %}