<div class="container">
<div id="search_rent_list">
    <table class='table table-striped rent_list_table'>
        <thead>
            <tr>
                <td><b>학번</b></td>
                <td><b>이름</b></td>
                <td><b>연락처</b></td>
                <td><b>물품번호</b></td>
                <td><b>물품종류</b></td>
                <td><b>대여일</b></td>
                <td><b>학적 상태</b></td>
                <td><b>서약서</b></td>
            </tr>
        </thead>
        <tbody>
        {% for rent in search_list reversed %}
                <tr style="cursor:pointer;color:#blue;" onClick="location.href='{%url 'managements:rent_detail_page' pk=rent.pk %}'">
                <td>{{rent.student.student_id}}</td>
                <td>{{rent.student.name}}</td>
                <td>{{rent.student.phone_number}}</td>
                <td>{{rent.equip.equip_id}}</td>
                <td>{{rent.equip.get_equip_type_display}}</td>
		        <td>{{rent.rent_date | date:'Y-m-d'}} &nbsp; &nbsp; {{rent.rent_date | date:'h:i A'}}</td>
                <td>{{rent.student.status}}</td>
                <td>
                    {% if rent.active %}
                        <p style="color:green; text-align:center">O</p>
                    {% else %}
                        <p style="color:red; text-align:center">X</p>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
