{% extends 'base.html' %}
{% load static %}

{% block custom_script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javaScript">    
        $(function(){
            $("input[name=search_button]").click(function(){
                alert('입력한 정보를 조회합니다.');
                var search_input = $('#search_input').val();
                var search_select = $('#search_select').val();
                event.preventDefault()
                $.ajax({
                    url:'search_pending_list/',
                    data:{
                        'search_input':search_input, 
                        'search_select':search_select
                    },
                    success:function(data){
                        $('#search_pending').html(data)
                    }
                })

            });
        });
    </script>
{% endblock custom_script %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'managements/manage_list.css' %}">
{% endblock custom_css %}

{% block content %}
    <div class="subtitle" style="margin-top: 50px; text-align: center;">
        <h1 style='font-weight:bold; '>보류 목록 페이지</h1>
    </div>
    <div class="container search-nav">
        <form action="">
        {% csrf_token %}
        <div class="col-item input-item">
            <input type="text" class="form-control" name='search_input' id='search_input' placeholder="검색할 사항을 입력하세요.(학번, 이름, 연락처, 물품번호)"/>
        </div>
        <div class="col-item"> 
            <select class='form-select' name="search_select" id="search_select">
                <option value="">기자재 선택</option>
                <option value="laptop">노트북</option>
                <option value="tablet">태블릿</option>
                <option value="sensor">센서</option>
            </select>
        </div>
        <div class="col-item">
            <input class="search_btn" type="submit" value="조회" name="search_button">
        </div>
        </form>
    </div>    
    <div id="search_pending">
        <div id="search_pending_list">
            <div class="container">
                <table class='table table-striped table-hover'>
                    <thead>
                        <tr>
                            <td><b>학번</b></td>
                            <td><b>이름</b></td>
                            <td><b>연락처</b></td>
                            <td><b>물품 번호</b></td>
                            <td><b>물품 종류</b></td>
                            <td><b>보류일</b></td>
                            <td><b>보류 사유</b></td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for pending in pendings %}
                        <tr  style="cursor:pointer;" onClick="location.href='{%url 'managements:pending_detail_page' pk=pending.pk %}'">
                            <td>{{pending.student}}</td>
                            <td>{{pending.student.name}}</td>
                            <td>{{pending.student.phone_number}}</td>
                            <td>{{pending.equip.equip_id}}</td>
                            <td>{{pending.equip.get_equip_type_display}}</td>
                            <td>{{pending.pending_date | date:'Y-m-d'}} &nbsp; &nbsp; {{pending.pending_date | date:'h:i A'}}</td>
                            {%if pending.reason|length > 10 %}
                                <td>{{pending.reason|slice:":10"}}...</td>
                            {%else%}
                                <td>{{pending.reason}}</td>
                            {%endif%}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container" id='paginator'>
            <div class='flex-item'>
                {% if pendings.has_previous %}
                    <img src="{% static 'prever.png' %}" onclick="location.href='?page=1'" style="cursor: pointer">
                    <img src="{% static 'prev.png' %}" onclick="location.href='?page={{pendings.previous_page_number}}'" style="cursor: pointer">
                {% else %}
                    <img src="{% static 'prever.png' %}" onclick="location.href='?page=1'" style="cursor: pointer">
                    <img src="{% static 'prev.png' %}" onclick="location.href='?page=1'" style="cursor: pointer">
                {% endif %}
            </div>
            <div class='flex-item'>
                    <div style="font-size:3rem">{{pendings.number}}</div>
                    <div style="font-size:3rem">/</div>
                    <div style="font-size:3rem">{{pendings.paginator.num_pages}}</div>
            </div>
            <div class='flex-item'>
                {% if pendings.has_next %}
                    <img src="{% static 'next.png' %}" onclick="location.href='?page={{pendings.next_page_number}}'" style="cursor: pointer">
                    <img src="{% static 'nexter.png' %}" onclick="location.href='?page={{pendings.paginator.num_pages}}'" style="cursor: pointer">
                {% else %}
                    <img src="{% static 'next.png' %}" onclick="location.href='?page={{pendings.paginator.num_pages}}'" style="cursor: pointer">
                    <img src="{% static 'nexter.png' %}" onclick="location.href='?page={{pendings.paginator.num_pages}}'" style="cursor: pointer">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}