{%load static%}
<div id="search_pending">
    <div id="search_pending_list">
        <div class="container">
            <table class='table table-striped return_list_table'>
                <thead>
                    <tr>
                        <td><b>학번</b></td>
                        <td><b>이름</b></td>
                        <td><b>연락처</b></td>
                        <td><b>물품 번호</b></td>
                        <td><b>물품 종류</b></td>
                        <td><b>보류일</b></td>
                        <td><b>보류 사유</b></td>
                    </tr>
                </thead>
                <tbody>
                {% for pending in pendings %}
                    <tr  style="cursor:pointer;" onClick="location.href='{%url 'managements:pending_detail_page' pk=pending.pk %}'">
                        <td>{{pending.student}}</td>
                        <td>{{pending.student.name}}</td>
                        <td>{{pending.student.phone_number}}</td>
                        <td>{{pending.equip.equip_id}}</td>
                        <td>{{pending.equip.get_equip_type_display}}</td>
                        <td>{{pending.pending_date | date:'Y-m-d'}} &nbsp; &nbsp; {{pending.pending_date | date:'h:i A'}}</td>
                        {%if pending.reason|length > 10 %}
                            <td>{{pending.reason|slice:":10"}}...</td>
                        {%else%}
                            <td>{{pending.reason}}</td>
                        {%endif%}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container" id='paginator'>
        <div class="flex-item">
            {% if pendings.has_previous %}
                <img src="{% static 'prever.png' %}" name='paginator' id='1' style="cursor: pointer">
                <img src="{% static 'prev.png' %}" name='paginator' id='{{pendings.previous_page_number}}' style="cursor: pointer">
            {% else %}
                <img src="{% static 'prever.png' %}" name='paginator' id='1' style="cursor: pointer">
                <img src="{% static 'prev.png' %}" name='paginator' id='1' style="cursor: pointer">
            {% endif %}
        </div>
        <div class="flex-item">
                <div style="font-size:3rem">{{pendings.number}}</div>
                <div style="font-size:3rem">/</div>
                <div style="font-size:3rem">{{pendings.paginator.num_pages}}</div>
        </div>
        <div class="flex-item">
            {% if pendings.has_next %}
                <img src="{% static 'next.png' %}" name='paginator' id='{{pendings.next_page_number}}' style="cursor: pointer">
                <img src="{% static 'nexter.png' %}" name='paginator' id='{{pendings.paginator.num_pages}}' style="cursor: pointer">
            {% else %}
                <img src="{% static 'next.png' %}" name='paginator' id='{{pendings.paginator.num_pages}}' style="cursor: pointer"> 
                <img src="{% static 'nexter.png' %}" name='paginator' id='{{pendings.paginator.num_pages}}' style="cursor: pointer">
            {% endif %}
        </div>
    </div>
</div>
<script>
    $(function(){
        $("img[name=paginator]").click(function(){
            var search_input = $('#search_input').val();
            var search_select = $('#search_select').val();
            event.preventDefault()
            $.ajax({
                url:'search_pending_list/?search_input='+ search_input + '?search_select=' + search_select + '&page=' + $(this).attr('id'),
                data:{
                    'search_input':search_input, 
                    'search_select':search_select,
                },
                success:function(data){
                    $('#search_pending').html(data)
                }
            })
        });
    });
</script>