{% extends 'base.html' %}
{% load static %}

{% block custom_script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javaScript">    
        $(function(){
            $("input[name=search_button]").click(function(){
                alert('입력한 정보를 조회합니다.');
                var search_input = $('#search_input').val();
                var search_select = $('#search_select').val();
                console.log(search_input);
                console.log(search_select);
                $.ajax({
                    url:'search_rent_list/',
                    data:{
                        'search_input':search_input, 
                        'search_select':search_select
                    },
                    success:function(data){
                        $('#search_rent_list').html(data)
                    }
                })

            });
        });
    </script>
{% endblock custom_script %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'managements/manage_list.css' %}">
{% endblock custom_css %}

{% block content %}
    <div class="subtitle" style="margin-top: 50px; text-align: center;">
        <h1 style='font-weight:bold; '>대여 현황 페이지</h1>
    </div>
    <div class="container">
        <form action="">
        {% csrf_token %}
            <input type="text" name='search_input' id='search_input'/>
            <select name="search_select" id="search_select">
                <option value="">기자재 선택</option>
                <option value="laptop">노트북</option>
                <option value="tablet">태블릿</option>
                <option value="sensor">센서</option>
            </select>
            <input class="btn btn-default" type="button" value="조회" name="search_button">
        </form>
        <div id="search_rent_list">
            <table class='table table-striped rent_list_table'>
                <thead>
                    <tr>
                        <td><b>학번</b></td>
                        <td><b>이름</b></td>
                        <td><b>연락처</b></td>
                        <td><b>물품번호</b></td>
                        <td><b>물품종류</b></td>
                        <td><b>대여일</b></td>
                        <td><b>학적 상태</b></td>
                    </tr>
                </thead>
                <tbody>
                {% for rent in rents reversed %}
                    <tr>
                        <td>{{rent.student.student_id}}</td>
                        <td>{{rent.student.name}}</td>
                        <td>{{rent.student.phone_number}}</td>
                        <td>{{rent.equip.equip_id}}</td>
                        <td>{{rent.equip.get_equip_type_display}}</td>
                        <td>{{rent.rent_date}}</td>
                        <td>{{rent.student.status}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container" id="paginator">
        <div id="page_div">
            {% if page != 1 %}
                <a href = '?page={{page|add:-1}}'><img id="next", src="{% static 'prev.svg' %}"></a>
                {% else %}
                <a href="?page=1"><img id="next", src="{% static 'prev.svg' %}"></a>
            {% endif %}
        </div>
        <div id="page_div">
            <h3>{{page}}&nbsp;/&nbsp;{{page_total}}</h3>
        </div>
        <div id="page_div">
            {% if page != page_total %}
            <a href = '?page={{page|add:1}}'><img id="next", src="{% static 'next.svg' %}"></a>
            {% else %}
            <a href="?page={{page_total}}"><img id="next", src="{% static 'next.svg' %}"></a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
    