{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'managements/manage_list.css' %}">
{% endblock custom_css %}

{% block content %}
    <div class="subtitle" style="margin-top: 50px; text-align: center;">
            <h1 style='font-weight:bold; '>반납 목록 페이지</h1>
    </div>
    <div class="container">
        <table class='table table-striped return_list_table'>
            <thead>
                <tr>
                    <td><b>학번</b></td>
                    <td><b>이름</b></td>
                    <td><b>연락처</b></td>
                    <td><b>물품번호</b></td>
                    <td><b>물품종류</b></td>
                    <td><b>반납일</b></td>
                </tr>
            </thead>
            <tbody>
            {% for return in returns reversed %}
                <tr>
                    <td>{{return.student.student_id}}</td>
                    <td>{{return.student.name}}</td>
                    <td>{{return.student.phone_number}}</td>
                    <td>{{return.equip.equip_id}}</td>
                    <td>{{return.equip.get_equip_type_display}}</td>
                    <td>{{return.return_date}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}