{% extends 'base.html' %}
{% load static %}

{% block custom_script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javaScript">
        function eventKeyup(str){
            let str2 = str.slice(3, 10)
            $("input[name=student_id]").val(str2);    // jQuery 이용
        }
        $(function(){
            $("input[name=cur_focus]").click(function(){
                alert('학생증 QR코드를 스캔해주세요.')
                $('input[id=id_student_id]').css('background-color', 'rgba(0, 100, 214, 0.25)');
                $("input[name=beforeAmt]").focus();
            });
            $("input[name=cur_focus2]").click(function(){
                alert('기자재 바코드를 스캔해주세요.')
                $('input[id=id_equip_id]').css('background-color', 'rgba(0, 100, 214, 0.25)');
                $("input[name=equip_id]").focus();
            });
        });

        function id_overlap_check(e) {
            if ($('#id_student_id').val() == '') {
                alert('학생 번호를 입력해주세요.');
                event.preventDefault()
                return false;
            }
            else if ($('#id_equip_id').val() == '') {
                alert('기자재 번호를 입력해주세요.');
                event.preventDefault()
                return false;
            }

            id_overlap_input = document.querySelector('input[name="equip_id"]');
            id_overlap_input_st = document.querySelector('input[name="student_id"]');

            $.ajax({
                url: "{% url 'managements:return_exist_check' %}",
                data: {
                    'equip_id': id_overlap_input.value,
                    'student_id': id_overlap_input_st.value
                },
                datatype: 'json',
                success: function (data) {
                    if (data['s_exist'] == 'fail') {
                        alert('등록되지 않은 학생입니다.')
                    } 
                    if (data['e_exist'] == 'fail') {
                        alert('등록되지 않은 기자재입니다.')
                    }

                    if (data['r_exist']== 'fail') {
                        alert('대여리스트에 없는 정보입니다.');
                    } else if (data['r_exist'] == 'pass' ) {
                        alert('대여 정보를 조회합니다.');
                        $('form').submit()
                    } 
                }
            })
        }
    </script>
{% endblock custom_script %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'managements/return_page.css' %}">
{% endblock custom_css %}

{%block content%}
<div class="container">
    <div class="row">
        <div class="subtitle" style="margin-top: 50px; text-align: center;">
            <h1 style='font-weight:bold; '>반납 정보 입력</h1>
        </div>
    </div>
    <div class="row">
        <div class="returnform ">
            <form id="return_form" method="post" onkeydown="return event.key != 'Enter';" enctype="multipart/form-data">
                                                        <!-- 바코드 스캔 시 자동으로 제출되는 것 방지-->
                {% csrf_token %}
                    <input style='opacity:0; cursor:default;' name="beforeAmt" id="beforeAmt" value="" onkeyup="eventKeyup(this.value)"/>
                    <table class='info_table'>
                    <tr>
                        <td>학번 : </td>
                        <td><input type="text" name="student_id" id='id_student_id'></td>
                        <td id="scan_td"><input type='button' name='cur_focus' value='학생증 스캔' class='scan_btn'></td>
                    </tr>
                    <tr>
                        <td>물품 번호 : </td>
                        <td><input type="text" name="equip_id" id='id_equip_id'></td>
                        <td id="scan_td"><input type="button" name='cur_focus2' value='기자재 스캔' class='scan_btn'></td>
                    </tr>
                    </table>
                    <input type="button" value="조회" class='submit_btn' onclick='id_overlap_check()'>
            </form>
        </div>
    </div>
</div>

{%endblock%}