{% extends 'base.html' %}
{% load static %}

{% block custom_script %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javaScript">
        function eventKeyup(str){
            let str2 = str.slice(3, 10)
            $("#id_student_id").val(str2);    // jQuery 이용
        }
        $(function(){
            $("input[name=cur_focus]").click(function(){
                $("input[name=beforeAmt]").focus();
            });
            $("input[name=cur_focus2]").click(function(){
                $("input[name=return_equipment]").focus();
            });
        });
    </script>
{% endblock custom_script %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'managements/return_page.css' %}">
{% endblock custom_css %}

{%block content%}
<div class="container">
    <div class="row">
        <div class="subtitle" style="margin-top: 50px; text-align: center;">
            <h1 style='font-weight:bold; '>반납 정보 입력</h1>
        </div>
    </div>
    <div class="row">
        <div class="returnform ">
            <form id="return_form" method="post" onkeydown="return event.key != 'Enter';" enctype="multipart/form-data">
                                                        <!-- 바코드 스캔 시 자동으로 제출되는 것 방지-->
                {% csrf_token %}
                    <input style='opacity:0' name="beforeAmt" id="beforeAmt" value="" onkeyup="eventKeyup(this.value)"/>
                    <p>학번 : {{return_form.return_student}} 
                    <input type='button' name='cur_focus' value='학생증 스캔'></p>
                    <p>물품 번호 : {{return_form.return_equipment}}
                    <input type="button" name='cur_focus2' value='기자재 스캔'></p>
                    
                    <input type="submit" value="조회"> 
            </form>
        </div>
    </div>
</div>

{%endblock%}