{% extends 'base.html' %}
{% load static %}

{% block custom_script %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javaScript">
        function eventKeyup(str){
            let str2 = str.slice(3, 10)
            $("input[name=student_id]").val(str2);    // jQuery 이용
        }
        $(function(){
            $("input[name=cur_focus]").click(function(){
                alert('학생증 QR코드를 스캔해주세요.')
                $("input[name=beforeAmt]").focus();
            });
            $("input[name=cur_focus2]").click(function(){
                alert('기자재 바코드를 스캔해주세요.')
                $("input[name=equip_id]").focus();
            });
        });

        function id_overlap_check() {
            if ($('#id_student_id').val() == '') {
                alert('학생 번호를 입력해주세요.');
                //document.querySelector('.submit_btn').removeAttribute('disabled');
                return;
            }
            else if ($('#id_equip_id').val() == '') {
                alert('기자재 번호를 입력해주세요.');
                return false;
            }

            id_overlap_input = document.querySelector('input[name="equip_id"]');
            $.ajax({
                url: "{% url 'managements:rent_overlap_check' %}",
                data: {
                    'equip_id': id_overlap_input.value
                },
                datatype: 'json',
                success: function (data) {
                    console.log(data['overlap']);
                    if (data['overlap'] == 'fail') {
                        alert('이미 대여중인 기자재입니다.');
                        id_overlap_input.focus();
                        cancelFormSubmission();
                        return false;
                        document.querySelector('.submit_btn').setAttribute('disabled', true);
                        
                    } else {
                        alert('대여가 완료되었습니다.');
                        document.querySelector('.submit_btn').removeAttribute('disabled');
                        return;
                    }
                }
        }
    </script>
{% endblock custom_script %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'managements/return_page.css' %}">
{% endblock custom_css %}

{%block content%}
<div class="container">
    <div class="row">
        <div class="subtitle" style="margin-top: 50px; text-align: center;">
            <h1 style='font-weight:bold; '>반납 정보 입력</h1>
        </div>
    </div>
    <div class="row">
        <div class="returnform ">
            <form id="return_form" method="post" onkeydown="return event.key != 'Enter';" enctype="multipart/form-data">
                                                        <!-- 바코드 스캔 시 자동으로 제출되는 것 방지-->
                {% csrf_token %}
                    <input style='opacity:0' name="beforeAmt" id="beforeAmt" value="" onkeyup="eventKeyup(this.value)"/>
                    <table class='info_table'>
                    <tr>
                        <td>학번 : </td>
                        <td><input type="text" name="student_id"></td>
                        <td id="scan_td"><input type='button' name='cur_focus' value='학생증 스캔' class='scan_btn'></td>
                    </tr>
                    <tr>
                        <td>물품 번호 : </td>
                        <td><input type="text" name="equip_id"></td>
                        <td id="scan_td"><input type="button" name='cur_focus2' value='기자재 스캔' class='scan_btn'></td>
                    </tr>
                    </table>
                    <input type="submit" value="조회" class='submit_btn' onclick='id_overlap_check()'> 
            </form>
        </div>
    </div>
</div>

{%endblock%}