{% extends 'base.html' %}
{% load static %}

{% block custom_script %}
<script>
    function id_overlap_check(e) {
        let id_overlap_input = '{{equip.equip_id}}'
            $.ajax({
                url: "{% url 'managements:pending_overlap_check' %}",
                data: {
                    'equip_id':id_overlap_input
                },
                datatype: 'json',
                success: function (data) {
                    if (data['overlap'] == 'fail') {
                        alert('이미 보류 상태인 기자재입니다.');
                        event.preventDefault()
                        return false;
                    } else {
                        alert('보류 사유를 입력해주세요.');
                    }
                }
            })
        }
</script>
{% endblock custom_script %}


{% block custom_css %}
    <link rel="stylesheet" href="{% static 'managements/manage_list.css' %}">
    <link rel="stylesheet" href="{% static 'managements/return_page.css' %}">
{% endblock custom_css %}

{%block content%}
    <div class="subtitle" style="margin-top: 50px; text-align: center;">
        <h1 style='font-weight:bold; '>조회된 반납 가능한 정보</h1>
    </div>
    <div class="container">
        <table class='table table-striped rent_list_table'>
            <thead>
                <tr>
                    <td><b>학번</b></td>
                    <td><b>이름</b></td>
                    <td><b>연락처</b></td>
                    <td><b>물품번호</b></td>
                    <td><b>물품종류</b></td>
                    <td><b>대여일</b></td>
                    <td><b>학적 상태</b></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{student.student_id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.phone_number}}</td>
                    <td name='equip_id'>{{equip.equip_id}}</td>
                    <td>{{equip.get_equip_type_display}}</td>
                    <td>{{rent.rent_date | date:'Y-m-d'}} &nbsp; &nbsp; {{rent.rent_date | date:'h:i A'}}</td>
                    <td>{{student.status}}</td>
                </tr>
            </tbody>
        </table>
        <div style='text-align:center;'>
            {% for image in rent_images %}
                <img src="{{ image.equip_pic.url }}" class='rent_equip_img'> <br>
            {% endfor %}
        </div>
        <div style='text-align:center; margin:30px 0'>
            <input type="button" class="submit_btn" value="반납" onclick="location.href='{% url 'managements:return_result' equip.pk %}'; alert('반납이 완료되었습니다.')">
            <input type="button" class="submit_btn" value="보류" onclick="id_overlap_check(); location.href='{% url 'managements:pending' equip.pk %}';">
        </div>
    </div>
{%endblock content%}
